.box-crono
  table
    tr.touched
      background-color #feffe1
      &:hover
        background-color #f9fbc5
    tr
      td,th
        vertical-align: middle
  input.planejamento-input
    width 100%
    font-size 12px !important
    height 23px !important
    color #6b6b6b !important
