.planejamento-header
  width 100%
  height 40px
  background-color #3c8dbc
  ul
    list-style none
    height 40px
    li
      display inline-block
      border-right: 0.5px solid rgba(230,230,230,0.3);
      float left
      height 40px
      &:last-child
        border-right none
      &:hover
        	background-color #286090
        	border-color rgba(230,230,230,0.4)
        	cursor pointer
      a
        display table-cell
        vertical-align middle
        height 40px
        text-align center
        padding 5px 10px
        color #fff
        span
          margin-left 3px
  .active
    background-color #286090
    border-color rgba(230,230,230,0.4)
