.navigation-wrapper
  margin -15px -15px 10px -15px !important
  .navbar-form
    width 100%
  nav
    background-color #ffffff !important
    margin 0 0 15px 0 !important
    padding-top 5px
    padding-left 10px
    box-shadow 0 1px 1px rgba(0,0,0,0.1)
    .form-group
      margin-right 10px
    @media (max-width: 767px)
      .form-group
        width 48%
        display inline-block
      .button-group
        width 50%
      .gantt-group
        width 46%
      .btn
        margin-top 5px
    @media (max-width: 540px)
      .form-group
        width 45%
        display inline-block
      .button-group
        width 52%
      .gantt-group
        width 42%
    @media (max-width: 240px)
      .form-group
        width 40%
        display inline-block
      .button-group
        width 48%
      .gantt-group
        width 38%
