.box.box-primary
  .box-body.chart-wrapper
    canvas#bar.chart.chart-bar(chart-data="avanco.data", chart-labels="avanco.labels", chart-series="avanco.series", chart-dataset-override="datasetOverride", chart-colors='avanco.colors', chart-options='avanco.options')
