.box
  .box-body
    table.display.table.table-hover.stripe(cellspacing="0" width="100%")
      thead
        tr
          th Teste
          th Teste2
          th TEste3
      tbody
        tr
          td Testedd
          td GDTYEFEFEF
          td vytdyetvfr
