.box.box-primary
  .box-body.chart-wrapper
    canvas#bar.chart.chart-bar(chart-data="entrega.data", chart-labels="entrega.labels", chart-series="entrega.series", chart-dataset-override="datasetOverride", chart-colors='entrega.colors', chart-options='entrega.options')
